/* General styling for the menu button */
.menu-button-actions {
  margin: 0;
  padding: 0;
}

/* Styling for the button that toggles the menu */
.menu-button-actions button {
  margin: 0;
  padding: 6px;
  display: inline-block;
  position: relative;
  background-color: #045a0d;
  border: 1px solid #045a0d;
  font-size: 0.9em;
  color: white;
  border-radius: 5px;
}

.menu-button-actions [role="menu"] {
  display: none;  /* Initially hidden */
  position: absolute;
  margin:
